@use "vars" as *

.nav
  position: fixed
  gap: 20px
  background-color: $base-color
  display: flex
  height: 10%
  width: 100%
  top: 0%
  align-items: center

.nav--img
  height: 100%

.nav--item
  font-size: 35px

.nav--sign-up
  margin-left: auto
  margin-right: 30px
  width: 10%
  height: 60%
  display: flex
  justify-content: center
  align-items: center
  border-style: solid
  border-radius: 10px
  border-color: white
  border-width: 2px
  background-color: $button-color-1

.nav--sign-up-text
  margin: 0px
  font-size: 25px

.nav h2
  font-weight: 500
  color: white

.nav a:link
    color: inherit
    text-decoration: none

.nav a:visited
    color: inherit
    text-decoration: none

.nav a:hover
  color: inherit
  text-decoration: none

.nav a:active
    color: inherit
    text-decoration: none
