@use "vars" as *

.sign-up-button
  background-color: $accent-color
  display: flex
  align-items: center

.sign-up-button--banner
  background-color: white
  width: 30%
  height: 30%

.sign-up-button--text
  font-size: 30px
  width: 100%

.sign-up-button--hover:hover
  cursor: pointer


