@use "sign_up_button"

.sign-up-button--sign-up
  @extend .sign-up-button
  width: 175px
  height: 75%
  border-radius: 10px
  border-color: red
  font-size: 25px
  display: flex
  justify-content: center
