.testimony
  display: grid
  width: 100%
  min-width: 400px
  align-content: center
  grid-template-columns: 1fr 3fr
  grid-template-areas: "title title" "img text"
  column-gap: 20px

.testimony--img
  grid-area: img

.testimony--text-container
  grid-area: text

.testimony--par
  font-size: 25px

.testimony--from
  font-size: 50px
  text-align: center
  grid-area: title
