/* TODO: switch to semantic css, hopefully in next commit

@use "sass:math"
@use "globals/globals"
@use "landing/landing"
@use "home/home"
@use "about/about"
@use "member_list/member_list"
@use "member/member"
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500&display=swap')

body
    margin: 0px

h1
    font-size: 100px

h2
    font-size: 50px

p
    font-size: 20px
    font-weight: 500

html
  font-family: 'Raleway', sans-serif

img
    width: 100%
    height: auto
